body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffe3d1;
}

.gameField {
  height: 600px;
  background: #73dd84;
  border-radius: 15px;
  border: 1px solid black;
}

.gameTable {
  background: #9c9dce;
  height: 485px;
  border: 3px solid black;
  padding: 0;
  position: relative;
  color: black;
}

.tableRow {
  display: flex;
}

.firstCol {
  width: 40%;
  text-align: left !important;
  padding-left: 30px !important;
}

.secondCol {
  width: 30%;
}

.thirdCol {
  width: 30%;
}

.tableRow div {
  border: 1px solid black;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.userImage {
  height: 100px;
  width: 100px;
  background: url('img/person.png');
  background-size: 100px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 2%;
  left: 40%;
}

.computerImage {
  height: 100px;
  width: 100px;
  background: url('img/computer.png');
  background-size: 100px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 2%;
  left: 40%;
}

.diceRow {
  height: 60px;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
}

.diceRow div {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: white;
}

.savedDiceUser {
  top: 22%;
  left: 10%;
}

.activeDiceUser {
  top: 35%;
  left: 10%;
}

.savedDiceComp {
  bottom: 22%;
  left: 10%;
}

.activeDiceComp {
  bottom: 35%;
  left: 10%;
}

.rollDice {
  width: 100px;
  height: 30px;
  background: red;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  top: 47%;
  right: 10%;
  color: black;
  font-weight: bold;
}

.rollDice:hover {
  cursor: pointer;
  background: #F56565;
}

.attemps {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 47%;
  left: 10%;
  font-weight: bold;
}